# directory
straight/repos
straight/build
straight/modified
elpa/
.cache/
auto-save-list/
url/
eshell/
newsticker/
var/
request/
transient/

# files
straight/build-cache.el
session.*
projectile-bookmarks.eld
recentf
network-security.data
.lsp-session-*

# local packages
site-lisp/
